<% if  @user.events.size.positive? %>
  <h3>Here are the Events created by 
  <%= @user[:name] %>:</h3>
  <%= render partial: '/display_events', locals: {events_to_display: @user.events, link_single_events: true } %>
<% else %>
  <h3>
  <%= @user[:name] %>
  currently has no created Events.
  </h3>
<% end %>
<br>
<br>
<% if @user.attended_events.size.positive? %>
  <h3>These are the past Events attended by
  <%= @user[:name] %>:</h3>
  <br>
  <%= render partial: '/display_events', locals: {events_to_display: @user.attended_events.past, link_single_events: true } %>
  <br>
  <br>
  Booked Events in the future:
  <%= render partial: '/display_events', locals: {events_to_display: @user.attended_events.future, link_single_events: true } %>
<% else %>
  <h3>
  <%= @user[:name] %>
  currently has no attended Events.
  </h3>
<% end %>
<br>
<br>
<% pending_events = current_user.invited_events.future - current_user.declined_events %>
<% if pending_events.size.positive? %>
  <h3>Here are the future Events with pending invitations for
  <%= @user[:name] %>:</h3>
  <%= render partial: '/display_events', locals: {events_to_display: pending_events, link_single_events: true } %>
<% else %>
  <h3>
  <%= @user[:name] %>
  currently has no pending invitations.
  </h3>
<% end %>
  